// the container of the profile photo and user information
#user_profile_view {
  padding-top: 4rem  !important;
  padding-bottom: 4rem !important;
}

// the container of the profile photo
div.u-xl-avatar {
  width: 10rem;
  height: 10rem;
}


a.transition-3d-hover {
  transition: all 0.2s ease-in-out;
}

a.transition-3d-hover:hover, a.transition-3d-hover:focus {
  transform: translateY(-3px);
}

%user-btn-hover {
  border: none;
  color: $brand-color;
  font-weight: 500 !important;
  background: rgba(55, 125, 255, 0.1);
  padding: 0.4375rem 0.9375rem;

  &:hover {
    color: #fff;
    background: #377dff;
    box-shadow: 0 4px 11px rgba(55, 125, 255, 0.35);

  }
}

a#btn-follow, a#btn-unfollow {
  @extend %user-btn-hover;
  font-size: 0.6875rem;
}

a#btn-user-edit {
  @extend %user-btn-hover
}

// for information posts, followers and following
.font-size-info {
    font-size: 0.875rem;
}

.font-weight-info {
  font-weight: 600 !important;
}

// custom the posts
.shadow {
    box-shadow: 0 0.375rem 1.5rem 0 rgba(140, 152, 164, 0.125) !important;
}

// custom form to change user information
textarea#about_me {
  height: 250px;
}