{% extends "bootstrap/base.html" %}
{% block title %}Contact Support team{% endblock %}

{% block content %}
    <div class="container text-center">
        <h1>Dear {{ user.username }},</h1>

        <div class="container">
            <p>
                To reset your password
                <a href="{{ url_for('auth.reset_password', token=token, _external=True) }}">
                    click here
                </a>.
            </p>

            <p>Alternatively, you can paste the following link in your browser's address bar:</p>

            <p>{{ url_for('auth.reset_password', token=token, _external=True) }}</p>

            <p>King Regards</p>

            <p>The Microblog Team</p>
        </div>
    </div>
{% endblock %}

{% block styles %}
{{super()}}
{% endblock %}