{% extends "base.html" %}

{% block content %}
    <h1>Reset Your Password</h1>

    <form class="mt-5" action="" method="post" role="form" novalidate>
        {{ form.hidden_tag() }}
        <fieldset class="form-row">
            <div class="form-group">
                <label class="mr-5">{{ form.new_password.label }}</label>
                {{ form.new_password(size=32) }}
            </div>

            {% for error in form.new_password.errors %}
            <div class="alert alert-danger col-lg-4" role="alert">
                {{error}}
            </div>
            {% endfor %}



            <div class="form-group">
                <label class="mr-5">{{ form.repeat_password.label }}</label>
                {{ form.repeat_password(size=32) }}
            </div>

            {% for error in form.repeat_password.errors %}
            <div class="alert alert-danger col-lg-4" role="alert">
                {{error}}
            </div>
            {% endfor %}

            <div>{{ form.submit() }}</div>
        </fieldset>


    </form>
{% endblock %}